
.intership_container{
    /* Frame 1321314786 */
    /* Auto layout */
    
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 32px;
    position: absolute;
    width: 1135px;
    height: 906px;
    left: 311px;
    top: 57px;
    }.intership_header{
/* Frame 1321314745 */
/* Auto layout */

display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
padding: 0px;
gap: 616px;
/* width: 1135px; */
height: 44px;
/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
}
.intership_insights{
    /* Frame 1321314784 */
/* Auto layout */

display: flex;
flex-direction: row;
justify-content: space-between;
align-items: flex-start;
padding: 16px;
gap: 16px;

width: 1135px;
height: 270px;

/* Snow */

background: #FFFFFF;
border-radius: 16px;

/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
}
.interships_details{
 /* Frame 1321314779 */
/* Auto layout */

display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px;

width: 1135px;
height: 536px;
/* Inside auto layout */

flex: none;
order: 1;
flex-grow: 0;
}
.insights_container{
    /* Insights */
/* Auto layout */

display: flex;
flex-direction: column;
align-items: flex-start;
padding: 16px;
gap: 10px;
width: 280px;
height: 238px;

/* Grey Light */

background: #F6F5F9;
border-radius: 16px;

/* Inside auto layout */

flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;
}
.insights_filter{
    /* Frame 1321314783 */
/* Auto layout */

display: flex;
flex-direction: column;
align-items: center;
padding: 0px;
gap: 16px;
width: 813px;
height: 238px;

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;
}
.filter_bar{
  /* Frame 1321314782 */
/* Auto layout */

display: flex;
flex-direction: row;
justify-content: space-between;
align-items: flex-start;
padding: 0px;
gap: 300px;
width: 618px;
height: 32px;

/* Inside auto layout */

flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;
}
.filter{
    /* Frame 1321314780  */
    /* Auto layout */
    
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 12px;
    width: 221px;
    height: 32px;
    
    /* Inside auto layout */
    
    flex: none;
    order: 0;
    flex-grow: 0;
}