.content{
    /* Content */  
  display: flex;
  flex-direction: column;
  /* justify-content: center;
  align-items: center; */
  padding: 24px;
  gap: 10px;
  position: absolute;
  width: 49%;
  /* height: 696px; */
  /* left: 36em; */
  top: 212px;
  
  /* Base/White */
  
  background: #fff;
  /* opacity: 0; */
  border-radius: 20px;
  }
  .input-group>.form-control:focus {
    border-color: inherit;
    box-shadow: none;
  }
  .categories{
    gap:10px;
    margin: 1em;
    /* background: rgba(102, 95, 239, 0.2); */
  }
  .category{
    border: 1px solid blue;
    background: rgba(102, 95, 239, 0.2);}
    img{
      cursor:pointer;
    }